@media (max-width: 599px) { /*Viewport error*/
    #error {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    #GameContent {
        display: none;
    }
}

@media (min-width: 600px) {
    #error {
        display: none;
    }
}



body{
    background-color: #2c3e50;
}

#soundSelect{
    color: white;
    text-align: center;
}




#gameButtons{
    text-align: center;
    width: 100%;
}

#UL{
    background-color: #e74c3c;
    width: 12rem;
    height: 12rem;
    border-radius: 20%;
    left: 31%;
    padding: 10px;
}

#UR{
    background-color: #f1c40f;
    width: 12rem;
    height: 12rem;
    border-radius: 20%;
    right: 31%;
    padding: 10px;
}

#LL{
    background-color: #2ecc71;
    width: 12rem;
    height: 12rem;
    border-radius: 20%;
    left: 31%;
    padding: 10px;
}

#LR{
    background-color: #3498db;
    width: 12rem;
    height: 12rem;
    border-radius: 20%;
    right: 31%;
    padding: 10px;
}


#UL:active{
    background-color: #73261e;
}
#UR:active{
    background-color: #786207;
}
#LL:active{
    background-color: #176638;
}
#LR:active{
    background-color: #1a4c6d;
}
.center {
    text-align: center;
  }


#menuButtons{
    text-align: center;
    background-color: #2c3e50;
}
#information{

    width: 1rem;
}

#highscore{
    color: white;
    text-align: center;
}