@media (max-width: 599px) { /*Viewport error*/
    #error {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    #error {
        display: none;
    }
}