@media (max-width: 599px) { /*Viewport error*/
    #error {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    #GameContent {
        display: none;
    }
    #soundSelect {
        display: none;
    }
    #menuButtons{
        display: none;
    }
    #highscore{
        display: none;
    }
}

@media (min-width: 600px) {
    #error {
        display: none;
    }
}



body{
    background-color: #2c3e50;
}

#soundSelect{
    color: #e3e2d7;
    text-align: center;
}

#soundText{
    font-size: 1rem;
}


#gameButtons{
    text-align: center;
    width: 100%;
}

#upperGameButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#UL{
    background-color: #e74c3c;
    width: 20%;
    height: 0;
    border-radius: 10%;
    border: none;
    padding-bottom: 20%;
    margin: 1%;
}

#UR{
    background-color: #f1c40f;
    width: 20%;
    height: 0;
    border-radius: 10%;
    border: none;
    padding-bottom: 20%;
    margin: 1%;
}

#lowerGameButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#LL{
    background-color: #2ecc71;
    width: 20%;
    height: 0;
    border-radius: 10%;
    border: none;
    padding-bottom: 20%;
    margin: 1%;
}

#LR{
    background-color: #3498db;
    width: 20%;
    height: 0;
    border-radius: 10%;
    border: none;
    padding-bottom: 20%;
    margin: 1%;
}

#UL:active{
    background-color: #73261e;
}
#UR:active{
    background-color: #786207;
}
#LL:active{
    background-color: #176638;
}
#LR:active{
    background-color: #1a4c6d;
}
.center {
    text-align: center;
    width: 100%;
  }

  #counter{
    border-radius: 50%;
    background-color: #34495e;
    border-width: 2px;
    width: 12%;
    height: 0;
    padding-bottom: 7%;
    padding-top: 5%;
    align-content: center;
    margin-inline: auto;
    margin-top: -5.9%;
    margin-bottom: 17%;
    z-index: 4;
    position: absolute;
    left: 44%;
    height: 0;
    justify-content: center;
    color: #e3e2d7;
}

#counter2{
    border-radius: 50%;
    background-color: #1abc9d;
    border-width: 2px;
    width: 13%;
    height: 0;
    padding-bottom: 8%;
    padding-top: 5%;
    align-content: center;
    margin-inline: auto;
    margin-top: -6.4%;
    margin-bottom: 17%;
    z-index: 3;
    position: absolute;
    left: 43.5%;
    height: 0;
    justify-content: center;
    align-content: center;
}

#menuButtons{
    text-align: center;
    background-color: #2c3e50;
}

#highscore{
    color: #e3e2d7;
    text-align: center;
}



#infoImage{
    width: 1.2rem;
    height: 1.2rem;
}

#hoverDiv{
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    display: inline-flex;
}

#hoverDiv:hover #infoText{
    visibility: visible;
    
}
#infoText{
    margin-top: 20px;
    visibility: hidden;
    display: block;
    position: absolute;
    text-align:justify;
    color: #e3e2d7;
    width: 13rem;
    background-color: #34495e;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}
#start:active{
    background-color: #1abc9d;
}

#start{
    width: 5rem;
    background-color: #34495e;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: #e3e2d7;
    font-size: 1rem;
}

#replay{
    width: 6rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #5e6d75;
    border: none;
    color: #d1d6d8;
    font-size: 1rem;
}

#counterContainer{
    top: 37.5%;
}

#error{
    color: #e3e2d7;
}